<body>
	<% unless current_user %>
		<div class="tutorial">
			<div class="tutorial-content">

				<h1>The best way to keep track of your larger goals.</h1>
				<a href='/auth/twitter' class="login-btn">Login with Twitter</a>
			</div>
		</div>
	<% else %>
	<div class="saved-message">
		<h1 class="saved-message-content">SAVED!</h1>
	</div>
	<div class="header">
		<div class="content-wrapper">
			<div class="pull-left">
				<h1>Resolutions</h1>
			</div>
			<div class="user pull-right">
				<!-- Todo add real user image -->
				<img class="user-img" src="https://pbs.twimg.com/profile_images/378800000297360664/96d9e7224ec40be585466172a3785249_400x400.png" />
				<!-- Todo add real user name -->
				<p>your name here</p>
				<ul class="menu">
					<li>
						<a class="logout-btn" href="/logout">LOG OUT</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="about-mask">
		<div class="about-modal">
			<h2>Design yourself with Resolutions</h2>
			<p>Instead of "resolutions" try Daily, Weekly, Bi-Weekly, and Monthly Goals &amp; put them where you’ll see them. Set this page as your home</p>
			<p> At the end of the month, reflect deeply and honestly. Then re-assess your list and do it again.</p>
			<p>By organizing your resolutions into digestible bits, you increase your chances of making them happen substantially.</p>
			<div class="credit">
				<p>
					Created by :
				</p>
				<a title="Will Newton" class="float-left" href="https://twitter.com/willdjthrill">
					<img src="https://avatars3.githubusercontent.com/u/1836320?v=3&s=460" alt="Will Newton" />
				</a>
				<p class="amp">&amp;</p>
				<a title="Hugo Melo" class="float-right" href="https://twitter.com/hugomelo">
					<img src="https://avatars0.githubusercontent.com/u/973173?v=3&s=460" alt="Hugo Melo" />
				</a>
			</div>
		</div>
	</div>
	<div class="content-wrapper">

		<div class="row-line  pull-left instructions">
			<h3><strong>On the first of every month:</strong><br />
			reflect on the past month, and adjust goals if necessary</h3>
		</div>			
		<div class="buttons">	
			<button class="save-btn">SAVE</button>
			<button class="about-btn visible-xs">ABOUT</button>
		</div>
		<button class="about-btn hidden-xs">ABOUT</button>
		<div class="row-line hidden">
			<div class="indent-left" id="daily">
				<span class="add-button daily">+</span>
				<h2>Every Day:</h2>
				<% if Item.daily(current_user).empty? %>
					<div class='new-row'>
						<input placeholder="Type goal"></input>
						<span class="remove">X</span>
					</div>
				<% else %>
					<% Item.daily(current_user).each do |item| %>
						<div class='new-row'>
							<input value="<%= item.text %>" placeholder="Type goal"/>
							<span class="remove">X</span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="row-line hidden">
			<div class="indent-left" id="weekly">
				<span class="add-button weekly">+</span>
				<h2>Every Week:</h2>
				<% if Item.weekly(current_user).empty? %>
					<div class='new-row'>
						<input placeholder="Type goal"></input>
						<span class="remove">X</span>
					</div>
				<% else %>
					<% Item.weekly(current_user).each do |item| %>
						<div class='new-row'>
							<input value="<%= item.text %>" placeholder="Type goal"/>
							<span class="remove">X</span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="row-line hidden">
			<div class="indent-left" id="bi-weekly">
				<span class="add-button bi-weekly">+</span>
				<h2>Every Other Week:</h2>
				<% if Item.bi_weekly(current_user).empty? %>
					<div class='new-row'>
						<input placeholder="Type goal"></input>
						<span class="remove">X</span>
					</div>
				<% else %>
					<% Item.bi_weekly(current_user).each do |item| %>
						<div class='new-row'>
							<input value="<%= item.text %>" placeholder="Type goal"/>
							<span class="remove">X</span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="row-line hidden">
			<div class="indent-left" id="monthly">
				<span class="add-button monthly">+</span>
				<h2>Every Month:</h2>
				<% if Item.monthly(current_user).empty? %>
					<div class='new-row'>
						<input placeholder="Type goal"></input>
						<span class="remove">X</span>
					</div>
				<% else %>
					<% Item.monthly(current_user).each do |item| %>
						<div class='new-row'>
							<input value="<%= item.text %>" placeholder="Type goal"/>
							<span class="remove">X</span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
	

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41422644-1', 'williamnewton.co');
  ga('send', 'pageview');

</script>
