/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* v1.0 | 20080212 */
/* Original Source: http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Type-A-File "Library Science" designed by Jessica Hische.
http://www.jessicahische.com
@jessicahische

Creative Commons License by Attribution. 
Feel free to take it, adapt it, & use it on both commercial and non-commercial projects.
Though I'd like a smidgeon of credit, so just leave this bit in here. K?
*/

/*Pick Your Fonts*/

body, h3, h4, h5, h6, .header, .subheader, .head, .subhead, .pullquote, .kicker {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}
h1,.pullquote, aside, .sidenote, blockquote, aside h1, .sidenote h1, h2 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.drop-cap{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}

/*Size & Vertical Rhythm*/
body{font-size:100%;font-size:16px;line-height:1.5em;}

/*HTML Standard Elements*/
h1{font-size:3em;line-height:1.333em;margin:.97em 0 0em;border-bottom:6px solid black;padding-bottom:0em;} 
h2{font-size:2em;line-height:1.1em;margin:2em 0 .5em;letter-spacing:.05em;font-style:italic;}
h1 + img, h2 + img{margin-top:1em;}
h3{font-size:1.125em;}
h4{font-weight:bold;font-size:1em;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
small{display:block;font-size:.75em;letter-spacing:.1em;margin:2.2em 0 -.2em;font-style:italic;font-weight:bold;line-height:2em;}
p, ul, ol, form{margin:1.5em 0 1em;}
ul{list-style-position:outside;list-style-type:disc;line-height:1.5;}
li{margin-bottom:.75em;}
ol{list-style-position:outside;list-style-type:decimal;}
blockquote{font-style:italic;margin:0em 0em 0em 1.5em;line-height:1.75em;font-size:1.2em;}
blockquote:before{content: "“";font-size:2em;text-indent:-.8em;margin-top:.1em;float:left;opacity:.5;}
cite{display:block;text-transform:uppercase;letter-spacing:1px;font-style:normal;font-size:smaller;margin-top:.5em;margin-left:1.5em;}
cite:before{content:"—";font-size:1.5em;text-indent:-1.3em;font-weight:bold;margin-top:-.1em;opacity:.5;}
pre{margin:1.5em;}
dl{margin:1.45em 0;/*border-top:1px dotted #999;border-bottom:1px dotted #999;*/}
dt{word-spacing:.2em;border-bottom:1px dotted #999;margin-top:1.5em;font-weight:bold;text-transform:uppercase;font-size:.9em;letter-spacing:.2em;padding-bottom:.5em;}
dt:before{content:"\2767";font-size:1.25em;text-indent:-1.5em;float:left;}
dd{font-style:italic;font-size:.9em;margin-bottom:1.65em;line-height:1.75em;margin-top:.75em;}
abbr{text-transform:uppercase;font-size:.9em;letter-spacing:.1em;}
p {margin-bottom:0;hyphenate: auto;hyphenate-before:2;hyphenate-after:3;hyphenate-lines: 3;orphans:4}
p + p, p + aside + p, p + .sidenote + p, p.kicker + p.kicker{text-indent:1.8em;margin-top:0;}
p span.pullquote{text-indent:0;}

/*Compositional Elements*/
.kicker{font-size:1.33em;line-height:1.693em;font-style:italic;margin:-.35em 0 -.35em;}
.kicker, .pullquote{font-weight:100;}
.run-in, cite{text-transform:uppercase;font-style:normal;letter-spacing:.2em;font-size:.9em;}
.superscript{font-family:arial, sans-serif;vertical-align:super;font-size:75%;margin-right:.4em;text-transform:lowercase;font-variant:small-caps;letter-spacing:.1em;line-height:0;}
.subscript{font-family:arial, sans-serif;vertical-align:sub;font-size:75%;margin-right:.4em;text-transform:lowercase;font-variant:small-caps;letter-spacing:.1em;line-height:0em;}
a.superscript, a.subscript{text-decoration:none;}
aside, .sidenote{font-size:.83em;font-style:italic;margin-top:-.4em;}
aside h1, .sidenote h1{text-transform:uppercase;margin-bottom:.8em;font-size:1em;line-height:1.5em;font-style:normal;font-weight:bold;letter-spacing:.2em;padding-bottom:.7em;}
aside p, .sidenote p{line-height:1.7em;margin:0;font-style:normal;}
aside ul, aside ol, .sidenote ul, .sidenote ol{margin-top:1.3em;line-height:1.7em;}
aside ul li, aside ol li, .sidenote ul li, .sidenote ol li{margin-bottom:1.3em;}
.pullquote{font-style:italic;letter-spacing:.05em;margin:0em .7em 0 0;padding-top:.35em;line-height:1.5em;display:block;float:left;font-size:1.75em;width:50%;}
.pullquote:before {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;content: "“";font-size:2em;text-indent:-.6em;margin-top:.05em;float:left;opacity:.3;}
.footnote{border-top:1px solid black;font-size:.75em;margin-top:3.5em;}
.footnote li{margin:1.5em 0 1.5em;word-spacing:.1em;line-height:1.75em;}
.caption{font-size:.8em;font-style:italic;margin:.6em 0 -.2em;}
.kicker .run-in{text-transform:uppercase;font-style:normal;letter-spacing:.25em;font-size:.9em;}
.drop-cap {display:block;font-style:normal;font-size:8em;float:left;margin:.04em .1em 0 0;line-height:.67em;}

/*Tweaks*/
.kern{letter-spacing:-.1em;}

/* custom */ 

body {
}

.user {
	position:absolute;
	top:8px;
	right:24px;
	height:60px;
	z-index: 3000;
}

.pull-right {
	float:right;
}

p.pull-right {
	margin-top:14px;
	font-size:42px;
	font-weight: 900;
	letter-spacing:-3px;
}

.user-img {
	width:60px;
	height:60px;
	border-radius:50%;
	float:right;
	margin-left:12px;
}

.menu {
	opacity:0;
	pointer-events:none;
	position:absolute;
	top:36px;
	right:0;
	background:#ccc;
	border-radius: 2px;
	transform: translate(0px,-10px);
	transition: all 0.3s ease;
}

.menu li {
	list-style:none;
	text-align: right;
	font-size:18px;
	padding:12px 24px;
}

.menu li a {
	padding:6px;
}

.user:hover .menu{
	display:block;
	pointer-events:all;
	opacity:1;
	transform: translate(0px,0px);
}

.menu:hover{
	display:block;
	pointer-events:all;
	opacity:1;
	transform: translate(0px,0px);
}

/*.logout-btn {
	width: 120px;
	height: 50px;
	background: none;
	outline: none;
	color: #900;
	font-size: 24px;
	cursor:pointer;
	text-decoration: none;
	position:absolute;
	top:10px;
	right:10px;
}*/

.save-btn {
	padding:12px 42px;
	background: none;
	outline: none;
	border: 3px solid #999;
	color: #999;
	font-size: 24px;
	cursor:pointer;
	position:absolute;
	top:80px;
	right:24px;
	z-index: 1000;
}

.save-btn:active {
	background:#eee;
}

.pull-left {
	margin-left:45px;
}

.pull-left h1 {
	max-width:290px;
	line-height:0.95em;
	letter-spacing:-5px;
	margin-top:0;
	font-size:72px;
	font-weight:800;
}

span.cap-squeeze {
	letter-spacing:-15px;
}

.pull-left h3 {
	color:#222;
	margin-top:12px;
}

.row-line {
	width:100%;
	opacity:1;
	transition:0.75s ease;
	transform: translate(-0px,0px);
}

.row-line.hidden {
	transform: translate(-40px,0px);
	opacity:0;	
}

.indent-left {
	max-width:360px;
	width:100%;
	margin-left:45px;
	border-left:12px solid #222;
	padding-left:24px;
	padding-bottom:1px;
	margin-bottom:36px;
	position:relative;
}

.indent-left h2 {
	letter-spacing:-1px;
	margin-top:0.8em;
	margin-bottom:0.3em;
	font-family: 'Times New Roman', serif;
}

input {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	display: block;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(0, 0, 0);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: baseline;
	max-width:600px;
	width:100%;
	display:inline-block;
}

.add-button {
	position:absolute;
	opacity:0;
	padding:10px 20px;
	left:-60px;
	top:35px;
	color:#000;
	background:none;
	font-size:24px;
	border:none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
	cursor:pointer;
}

.row-line:hover .add-button {
	opacity:0.4;
}

.add-button:hover {
	opacity:0.8!important;
}

.add-button:active {
	opacity:1!important;
	transform:rotateZ(180deg) scale(1.5);
}

.new-row {
	position:relative;
}

.remove {
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	position:absolute;
	top:2px;
	left:-14px;
	opacity:0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.remove:hover {
	opacity:1!important;
	cursor:pointer;
}

.new-row:hover .remove {
	opacity:0.3;
}

.tutorial {
	width:100%;
	height:100%;
	position:fixed;
	background:#fff;
	z-index: 3000;
}

.tutorial-content {
	max-width:900px;
	margin:50px auto;
	width:100%;
	padding:24px;
}

.tutorial-content h1 {
	text-align: center;
	color:#999;
	font-weight: 300;
	font-size:64px;
	margin:0 auto;
	border:none;
}

.login-btn {
	width:300px;
	font-size:24px;
	height:64px;
	line-height:64px;
	text-decoration: none;
	border-radius:4px;
	background:#4099ff;
	padding:12px;
	margin:50px auto;
	display:block;
	text-align:center;
	color:#fff;
}

/*
.tutorial {
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	padding:20px;
	max-width:500px;
	width:100%;
	min-height:300px;
	border-radius:16px;
	box-shadow:0px 2px 7px rgba(0,0,0,0.3);
	padding:36px 36px 24px;
	z-index:999999;
	background:#eee;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity:0.95;
	height:320px;
}

.tutorial h2 {
	letter-spacing: -1px;
	margin:0 0 18px;
	text-align:center;
}

.ok {
	text-align:right;
	font-weight:bold;
	padding:12px 20px;
	background:rgba(0,50,0,0.25);
	margin-top:24px;
	text-align:center;
	border-radius:4px;
	border:none;
	display:block;
	font-size:18px;
	width:100%;
}

.ok:hover {
	cursor:pointer;
	background:rgba(0,150,0,0.5);
}

.tutorial.fade-out {
	opacity:0;
	pointer-events:none;
}

.tutorial-mask {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,0.75);
}
*/

.content-wrapper {
	max-width:800px;
	width:100%;
	position:relative;
	margin:36px auto;
}

.saved-message {
	position:fixed;
	width:100%;
	height:100%;
	opacity:0;
	background:black;
	pointer-events:none;
	z-index: 2000;
	transition:all 0.3s ease;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

h1.saved-message-content {
	color: white;
	font-size: 100px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-weight: 900;
	width: 100%;
	height: 140px;
}

.saved-message.show-saved {
	opacity:0.95;
	transform:scale(1.2);
	transition:all 0.8s ease;
}

.saved-message.show-saved h1 {

}

/* Mobile yey */

@media (max-width: 768px) {
	.add-button {
		opacity:1;
	}
	.tutorial{
	padding:0;	
	}
	.login-btn {
		width:200px;
		font-size:20px;
		height:50px;
		line-height:50px;
		text-decoration: none;
		border-radius:4px;
		background:#4099ff;
		padding:12px;
		margin:50px auto;
	}
	.tutorial-content {
		padding:0;
	}
	.tutorial-content h1 {
		font-size:36px;
		color:#333;
		padding:12px;
	}
	.user {
		display:none;
	}
	.save-btn {
		display:block;
		float:right;
		margin-right: 12px;
		position:relative;
		top:0;
		left:0;
	}
}













